<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codial Edit profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-extend.css">	
	<link rel="stylesheet" href="/css/master_style.css">
	<link rel="stylesheet" href="/css/skins/_all-skins.css">	
</head>
<body class=" skin-green-light sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar -->
    <nav class="navbar">
	  	
      <!-- Sidebar toggle button-->
		  <a href="/">
			<h4 style="color:white; margin-left: -213px;">Codial User Edit Profile</h4>
		  </a>	
		
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/User.jpg" class="user-image rounded-circle b-2" alt="User Image">
				<span class="font-size-18"><%=user.name%></span>
            </a>
            <ul class="dropdown-menu scale-up">
              <!-- Menu Body -->
              <li class="user-body bt-0">
                <div class="row no-gutters">
                  <div class="col-12 text-left">
                    <a href="/users/user_profile"><i class="ion ion-person"></i>My Profile</a>
                  </div>
				<div role="separator" class="divider col-12"></div>
				  <div class="col-12 text-left">
                    <a href="/users/sign-out"><i class="fa fa-power-off"></i>Logout</a>
                  </div>				
                </div>
                <!-- /.row -->
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Update Users Data</h3>
        </div>
        <div class="box-body">
            <form action="/users/update_user" method="post">
                <div class="form-group  w-25">
                <input type="hidden" name="userid" value="<%=user.id%>">
              Name:<input type="text" name="name"  value="<%=user.name%>" class="form-control input-sm" placeholder="Update your name here">
               Email:<input type="text" name="email" value="<%=user.email%>"  class="form-control input-sm" placeholder="Update your email here">
               Password:<input type="text" name="password" value="<%=user.password%>"  class="form-control input-sm" placeholder="Update your password here">
            </div>
            <input class="btn btn-primary" type="submit" value="Update User">
            <button  class="btn btn-danger" type="reset" value="Reset" > Reset </button>
            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
</div>


	<!-- jQuery 3 -->
	<script src="/js/jquery-3.3.1.js"></script>
	
	
	<!-- Bootstrap 4.1-->
	<script src="/js/bootstrap.min.js"></script>
  <script>
    <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>

    <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>
</script>
	

</body>

</html>
