<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codial Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-extend.css">	
	<link rel="stylesheet" href="/css/master_style.css">
	<link rel="stylesheet" href="/css/skins/_all-skins.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class=" skin-purple-light sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar -->
    <nav class="navbar">
	  	
      <!-- Sidebar toggle button-->
		  <a href="/">
			<h4 style="color:white; margin-left: -213px;"><%=name%> &nbsp;<i class="fa-solid fa-house"></i></h4>
		  </a>	
        <h1 style="margin-left: -113px;color:white; font-family: 'FontAwesome';">Codial</h1>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/User.jpg" class="user-image rounded-circle b-2" alt="User Image">
				<span class="font-size-18"><% if (locals.user){%>
                    <%=user.name%>
                    <%} else { %>
                        Click Here
                        <%}%>
                </span>
            </a>
            <ul class="dropdown-menu scale-up">
              <!-- Menu Body -->
              <li class="user-body bt-0">
                <div class="row no-gutters">
                  <div class="col-12 text-left">
                    <% if (locals.user){%>

                    <a href="/users/user_profile"><i class="fa-solid fa-address-card"></i> My Profile</a>
                  </div>
				<div role="separator" class="divider col-12"></div>
				  <div class="col-12 text-left">
                        <a href="/users/sign-out"><i class="fa fa-power-off"></i>Logout</a>
                        <%} else { %>
                            <a href="/users/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
                            <a href="/users/signup"><i class="fa-solid fa-user-plus"></i>Signup</a>
                            <%}%>
                  </div>
                  
                </div>
                <!-- /.row -->
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Add post's</h3>
        </div>
        <div class="box-body">
            <% if (locals.user){%>
                <form action="/post/postsubmit" method="post">
                    <div class="form-group">
                    <textarea class="form-control" required name="post" placeholder="Enter your post" cols="8" rows="3" style="width: 350px; height: 67px;"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit Post">
                <button  class="btn btn-danger" type="reset" value="Reset" > Reset </button>
                </form>
                <%} else { %>
                    <p><a href="/users/login">For Adding Post Need To Login</a></p>
                    <%}%>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Codial Post's</h3>
          </div>
          <div class="box-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><i class="fa-solid fa-comment"></i> Post</th>
            <th scope="col"><i class="fa-solid fa-user"></i> Author</th>
            <th scope="col"><i class="fa-solid fa-calendar-days"></i> Date</th>
          </tr>
        </thead>
        <tbody>
          <% let index = 0; %>
        <% for(i of posts){%>
          <% index++; %>
            <tr>
                <th scope="row"><%= index %></th>
                <td>
                  <% if (locals.user && locals.user.id==i.user.id){%>
                  [<a href="/post/destroy/<%= i.id %>"><i class="fa-solid fa-trash"></i></a>]&nbsp;&nbsp;
                  <% } %>
                  <b><%= i.post%></b>
                <br/>
                <div class="accordion">
                  <div class="accordion-heading"><span style="text-align:center;font-weight:bold;"><u>Post Comments</u></span></div>
                  <div class="accordion-content">
                    <form action="/comments/create" method="post">
                      <div class="form-group w-25">
                      <input type="text" name="comment"  class="form-control input-sm" placeholder="Add your comment here">
                      <input type="hidden" name="postid" value="<%=i._id%>">
                      <input type="submit" class="btn btn-danger btn-sm" value="Add Comment">
                    </div>
                    </form>
                    <div class="post-commnets">
                      <ul class="post-commentsof-id-<%=i._id%>">
                        <% for(comment of i.comments){ %> 
                          <li><p><%= comment.content%> (<small><%=comment.user.name%></small>)
                            <% if (locals.user && locals.user.id==comment.user.id){%>
                            [<a href="/comments/destroy/<%= comment.id %>"><i class="fa-solid fa-trash" style="color: #e71414;"></i></a>]&nbsp;&nbsp;
                            <% } %></p>
                        </li>
                          <%} %>
                      </ul>
                    </div>
                  </div>
                </div>
                </div>
                </td>
                <td><%= i.user.name%></td>
                <td><%= new Date(i.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                </td>
                </tr>
            <%}%>
        </tbody>
      </table>
    </div>
    </div>
    <div class="box-footer">
       page Footer Codial Page !   
    </div>
    <!-- /.box-footer-->
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
</div>


	<!-- jQuery 3 -->
	<script src="/js/jquery-3.3.1.js"></script>
	
	
	<!-- Bootstrap 4.1-->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/accordien.js"></script>

  <script>
    <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>

    <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
            
        }).show();    
    <%} %>
</script>

</body>

</html>
